Client/Service References/QuotaServiceReference/QuotaService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuotaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/QuotaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/QuotaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/QuotaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBEntity" />
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/QuotaService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/QuotaService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Utility.Misc" />
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/QuotaService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" />
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/QuotaService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DBEntity.EnableProperty" />
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/QuotaService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Services.Physical.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuotaService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetAllCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCount" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetAllCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCountResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_FetchCount_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchCount" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_FetchCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchCountResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCount" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetAllWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithOrder" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetAllWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRange" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_FetchById_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchById" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_FetchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_FetchAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAll" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_FetchAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_FetchAllWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllWithOrder" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_FetchAllWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_FetchByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRange" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_FetchByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_FetchByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_FetchByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_QueryByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRange" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_QueryByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_QueryByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_QueryByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRange" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectByRangeWithMultiOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrder" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectByRangeWithMultiOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectByRangeWithMultiOrderLazyLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderLazyLoad" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectByRangeWithMultiOrderLazyLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderLazyLoadResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Create_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q1:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_CreateNew_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNew" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_CreateNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_CreateNew_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q2:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteById" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_DeleteById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q3:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Delete_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q4:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Update_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q5:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_UpdateExisted_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExisted" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_UpdateExisted_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExistedResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_UpdateExisted_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q6:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_Remove_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q7:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_RemoveById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveById" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_RemoveById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_RemoveById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q8:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectSum_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectSum" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectSum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectSumResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectSum_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q9:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectById" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q10:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectWithMultiOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrder" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectWithMultiOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectWithMultiOrder_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q11:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectWithMultiOrderLazyLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderLazyLoad" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectWithMultiOrderLazyLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderLazyLoadResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SelectWithMultiOrderLazyLoad_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q12:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetExchangeRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeRate" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetExchangeRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeRateResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetPricedQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPricedQuantity" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetPricedQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPricedQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SetElementsEnableProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:SetElementsEnableProperty" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_SetElementsEnableProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetElementsEnablePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetQuotasApproachingPricingEnd_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotasApproachingPricingEnd" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetQuotasApproachingPricingEnd_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotasApproachingPricingEndResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetPurchaseAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseAmount" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetPurchaseAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetFinancialAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFinancialAccount" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetFinancialAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFinancialAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetVerifiedQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVerifiedQuantity" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetVerifiedQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVerifiedQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetPriceByQuotaPricing_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceByQuotaPricing" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetPriceByQuotaPricing_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceByQuotaPricingResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetAmountByQuotaId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountByQuotaId" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetAmountByQuotaId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountByQuotaIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetPayAmountByQuotaId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPayAmountByQuotaId" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetPayAmountByQuotaId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPayAmountByQuotaIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetReceivableAmountByQuotaId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceivableAmountByQuotaId" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetReceivableAmountByQuotaId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceivableAmountByQuotaIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetCurrencyByPricing_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyByPricing" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetCurrencyByPricing_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyByPricingResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetSettlementCurrencyByQuotaId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSettlementCurrencyByQuotaId" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetSettlementCurrencyByQuotaId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSettlementCurrencyByQuotaIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetPriceByQuotaPricingWithRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceByQuotaPricingWithRate" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetPriceByQuotaPricingWithRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceByQuotaPricingWithRateResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetAparReportDataByQuota_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAparReportDataByQuota" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetAparReportDataByQuota_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAparReportDataByQuotaResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetQuotaAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaAmount" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetQuotaAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetAllQuotaListByDateAndCommodity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllQuotaListByDateAndCommodity" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetAllQuotaListByDateAndCommodity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllQuotaListByDateAndCommodityResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetQuotaSumQty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaSumQty" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetQuotaSumQty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaSumQtyResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetAvgPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvgPrice" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetAvgPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvgPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetARAPReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetARAPReportData" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetARAPReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetARAPReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetLedgerData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLedgerData" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetLedgerData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLedgerDataResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_UpdateQuotaStatusWithVerifiedQuantityByQuotaId_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuotaStatusWithVerifiedQuantityByQuotaId" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_UpdateQuotaStatusWithVerifiedQuantityByQuotaId_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuotaStatusWithVerifiedQuantityByQuotaIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetQuotaAmountsByQuota_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaAmountsByQuota" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetQuotaAmountsByQuota_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaAmountsByQuotaResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetPricingMarginReportData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPricingMarginReportData" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetPricingMarginReportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPricingMarginReportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetPhysicalPNLData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhysicalPNLData" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetPhysicalPNLData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhysicalPNLDataResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_CompleteUnpricingtoPricing_InputMessage">
    <wsdl:part name="parameters" element="tns:CompleteUnpricingtoPricing" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_CompleteUnpricingtoPricing_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompleteUnpricingtoPricingResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_UpdatePricing_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePricing" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_UpdatePricing_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePricingResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetDashBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDashBoard" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetDashBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDashBoardResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetContractOrderList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContractOrderList" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetContractOrderList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContractOrderListResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetQuotaSumAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaSumAmount" />
  </wsdl:message>
  <wsdl:message name="IQuotaService_GetQuotaSumAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaSumAmountResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuotaService">
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/GetById" message="tns:IQuotaService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/GetByIdResponse" message="tns:IQuotaService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/GetAllCount" message="tns:IQuotaService_GetAllCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/GetAllCountResponse" message="tns:IQuotaService_GetAllCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/FetchCount" message="tns:IQuotaService_FetchCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/FetchCountResponse" message="tns:IQuotaService_FetchCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/GetCount" message="tns:IQuotaService_GetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/GetCountResponse" message="tns:IQuotaService_GetCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/GetAll" message="tns:IQuotaService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/GetAllResponse" message="tns:IQuotaService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/GetAllWithOrder" message="tns:IQuotaService_GetAllWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/GetAllWithOrderResponse" message="tns:IQuotaService_GetAllWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/GetByRange" message="tns:IQuotaService_GetByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/GetByRangeResponse" message="tns:IQuotaService_GetByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/GetByRangeWithOrder" message="tns:IQuotaService_GetByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/GetByRangeWithOrderResponse" message="tns:IQuotaService_GetByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/FetchById" message="tns:IQuotaService_FetchById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/FetchByIdResponse" message="tns:IQuotaService_FetchById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/FetchAll" message="tns:IQuotaService_FetchAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/FetchAllResponse" message="tns:IQuotaService_FetchAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAllWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/FetchAllWithOrder" message="tns:IQuotaService_FetchAllWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/FetchAllWithOrderResponse" message="tns:IQuotaService_FetchAllWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/FetchByRange" message="tns:IQuotaService_FetchByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/FetchByRangeResponse" message="tns:IQuotaService_FetchByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/FetchByRangeWithOrder" message="tns:IQuotaService_FetchByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/FetchByRangeWithOrderResponse" message="tns:IQuotaService_FetchByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/Query" message="tns:IQuotaService_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/QueryResponse" message="tns:IQuotaService_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/QueryByRange" message="tns:IQuotaService_QueryByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/QueryByRangeResponse" message="tns:IQuotaService_QueryByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/QueryByRangeWithOrder" message="tns:IQuotaService_QueryByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/QueryByRangeWithOrderResponse" message="tns:IQuotaService_QueryByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/Select" message="tns:IQuotaService_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectResponse" message="tns:IQuotaService_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectByRange" message="tns:IQuotaService_SelectByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectByRangeResponse" message="tns:IQuotaService_SelectByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectByRangeWithOrder" message="tns:IQuotaService_SelectByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectByRangeWithOrderResponse" message="tns:IQuotaService_SelectByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectByRangeWithMultiOrder" message="tns:IQuotaService_SelectByRangeWithMultiOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectByRangeWithMultiOrderResponse" message="tns:IQuotaService_SelectByRangeWithMultiOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrderLazyLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectByRangeWithMultiOrderLazyLoad" message="tns:IQuotaService_SelectByRangeWithMultiOrderLazyLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectByRangeWithMultiOrderLazyLoadResponse" message="tns:IQuotaService_SelectByRangeWithMultiOrderLazyLoad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/Create" message="tns:IQuotaService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/CreateResponse" message="tns:IQuotaService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Quota/CreateServerErrFault" name="ServerErrFault" message="tns:IQuotaService_Create_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/CreateNew" message="tns:IQuotaService_CreateNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/CreateNewResponse" message="tns:IQuotaService_CreateNew_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Quota/CreateNewServerErrFault" name="ServerErrFault" message="tns:IQuotaService_CreateNew_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/DeleteById" message="tns:IQuotaService_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/DeleteByIdResponse" message="tns:IQuotaService_DeleteById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Quota/DeleteByIdServerErrFault" name="ServerErrFault" message="tns:IQuotaService_DeleteById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/Delete" message="tns:IQuotaService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/DeleteResponse" message="tns:IQuotaService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Quota/DeleteServerErrFault" name="ServerErrFault" message="tns:IQuotaService_Delete_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/Update" message="tns:IQuotaService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/UpdateResponse" message="tns:IQuotaService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Quota/UpdateServerErrFault" name="ServerErrFault" message="tns:IQuotaService_Update_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExisted">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/UpdateExisted" message="tns:IQuotaService_UpdateExisted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/UpdateExistedResponse" message="tns:IQuotaService_UpdateExisted_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Quota/UpdateExistedServerErrFault" name="ServerErrFault" message="tns:IQuotaService_UpdateExisted_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/Remove" message="tns:IQuotaService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/RemoveResponse" message="tns:IQuotaService_Remove_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Quota/RemoveServerErrFault" name="ServerErrFault" message="tns:IQuotaService_Remove_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/RemoveById" message="tns:IQuotaService_RemoveById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/RemoveByIdResponse" message="tns:IQuotaService_RemoveById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Quota/RemoveByIdServerErrFault" name="ServerErrFault" message="tns:IQuotaService_RemoveById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectSum">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectSum" message="tns:IQuotaService_SelectSum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectSumResponse" message="tns:IQuotaService_SelectSum_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectSumServerErrFault" name="ServerErrFault" message="tns:IQuotaService_SelectSum_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectById" message="tns:IQuotaService_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectByIdResponse" message="tns:IQuotaService_SelectById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectByIdServerErrFault" name="ServerErrFault" message="tns:IQuotaService_SelectById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectWithMultiOrder" message="tns:IQuotaService_SelectWithMultiOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectWithMultiOrderResponse" message="tns:IQuotaService_SelectWithMultiOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectWithMultiOrderServerErrFault" name="ServerErrFault" message="tns:IQuotaService_SelectWithMultiOrder_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrderLazyLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectWithMultiOrderLazyLoad" message="tns:IQuotaService_SelectWithMultiOrderLazyLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectWithMultiOrderLazyLoadResponse" message="tns:IQuotaService_SelectWithMultiOrderLazyLoad_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Quota/SelectWithMultiOrderLazyLoadServerErrFault" name="ServerErrFault" message="tns:IQuotaService_SelectWithMultiOrderLazyLoad_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExchangeRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetExchangeRate" message="tns:IQuotaService_GetExchangeRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetExchangeRateResponse" message="tns:IQuotaService_GetExchangeRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPricedQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetPricedQuantity" message="tns:IQuotaService_GetPricedQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetPricedQuantityResponse" message="tns:IQuotaService_GetPricedQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetElementsEnableProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/SetElementsEnableProperty" message="tns:IQuotaService_SetElementsEnableProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/SetElementsEnablePropertyResponse" message="tns:IQuotaService_SetElementsEnableProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuotasApproachingPricingEnd">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetQuotasApproachingPricingEnd" message="tns:IQuotaService_GetQuotasApproachingPricingEnd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetQuotasApproachingPricingEndResponse" message="tns:IQuotaService_GetQuotasApproachingPricingEnd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetPurchaseAmount" message="tns:IQuotaService_GetPurchaseAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetPurchaseAmountResponse" message="tns:IQuotaService_GetPurchaseAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFinancialAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetFinancialAccount" message="tns:IQuotaService_GetFinancialAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetFinancialAccountResponse" message="tns:IQuotaService_GetFinancialAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVerifiedQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetVerifiedQuantity" message="tns:IQuotaService_GetVerifiedQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetVerifiedQuantityResponse" message="tns:IQuotaService_GetVerifiedQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPriceByQuotaPricing">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetPriceByQuotaPricing" message="tns:IQuotaService_GetPriceByQuotaPricing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetPriceByQuotaPricingResponse" message="tns:IQuotaService_GetPriceByQuotaPricing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAmountByQuotaId">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetAmountByQuotaId" message="tns:IQuotaService_GetAmountByQuotaId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetAmountByQuotaIdResponse" message="tns:IQuotaService_GetAmountByQuotaId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPayAmountByQuotaId">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetPayAmountByQuotaId" message="tns:IQuotaService_GetPayAmountByQuotaId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetPayAmountByQuotaIdResponse" message="tns:IQuotaService_GetPayAmountByQuotaId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceivableAmountByQuotaId">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetReceivableAmountByQuotaId" message="tns:IQuotaService_GetReceivableAmountByQuotaId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetReceivableAmountByQuotaIdResponse" message="tns:IQuotaService_GetReceivableAmountByQuotaId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByPricing">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetCurrencyByPricing" message="tns:IQuotaService_GetCurrencyByPricing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetCurrencyByPricingResponse" message="tns:IQuotaService_GetCurrencyByPricing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSettlementCurrencyByQuotaId">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetSettlementCurrencyByQuotaId" message="tns:IQuotaService_GetSettlementCurrencyByQuotaId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetSettlementCurrencyByQuotaIdResponse" message="tns:IQuotaService_GetSettlementCurrencyByQuotaId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPriceByQuotaPricingWithRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetPriceByQuotaPricingWithRate" message="tns:IQuotaService_GetPriceByQuotaPricingWithRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetPriceByQuotaPricingWithRateResponse" message="tns:IQuotaService_GetPriceByQuotaPricingWithRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAparReportDataByQuota">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetAparReportDataByQuota" message="tns:IQuotaService_GetAparReportDataByQuota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetAparReportDataByQuotaResponse" message="tns:IQuotaService_GetAparReportDataByQuota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuotaAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetQuotaAmount" message="tns:IQuotaService_GetQuotaAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetQuotaAmountResponse" message="tns:IQuotaService_GetQuotaAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllQuotaListByDateAndCommodity">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetAllQuotaListByDateAndCommodity" message="tns:IQuotaService_GetAllQuotaListByDateAndCommodity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetAllQuotaListByDateAndCommodityResponse" message="tns:IQuotaService_GetAllQuotaListByDateAndCommodity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuotaSumQty">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetQuotaSumQty" message="tns:IQuotaService_GetQuotaSumQty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetQuotaSumQtyResponse" message="tns:IQuotaService_GetQuotaSumQty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvgPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetAvgPrice" message="tns:IQuotaService_GetAvgPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetAvgPriceResponse" message="tns:IQuotaService_GetAvgPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetARAPReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetARAPReportData" message="tns:IQuotaService_GetARAPReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetARAPReportDataResponse" message="tns:IQuotaService_GetARAPReportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLedgerData">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetLedgerData" message="tns:IQuotaService_GetLedgerData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetLedgerDataResponse" message="tns:IQuotaService_GetLedgerData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuotaStatusWithVerifiedQuantityByQuotaId">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/UpdateQuotaStatusWithVerifiedQuantityByQuotaId" message="tns:IQuotaService_UpdateQuotaStatusWithVerifiedQuantityByQuotaId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/UpdateQuotaStatusWithVerifiedQuantityByQuotaIdResponse" message="tns:IQuotaService_UpdateQuotaStatusWithVerifiedQuantityByQuotaId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuotaAmountsByQuota">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetQuotaAmountsByQuota" message="tns:IQuotaService_GetQuotaAmountsByQuota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetQuotaAmountsByQuotaResponse" message="tns:IQuotaService_GetQuotaAmountsByQuota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPricingMarginReportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetPricingMarginReportData" message="tns:IQuotaService_GetPricingMarginReportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetPricingMarginReportDataResponse" message="tns:IQuotaService_GetPricingMarginReportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhysicalPNLData">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetPhysicalPNLData" message="tns:IQuotaService_GetPhysicalPNLData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetPhysicalPNLDataResponse" message="tns:IQuotaService_GetPhysicalPNLData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompleteUnpricingtoPricing">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/CompleteUnpricingtoPricing" message="tns:IQuotaService_CompleteUnpricingtoPricing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/CompleteUnpricingtoPricingResponse" message="tns:IQuotaService_CompleteUnpricingtoPricing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePricing">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/UpdatePricing" message="tns:IQuotaService_UpdatePricing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/UpdatePricingResponse" message="tns:IQuotaService_UpdatePricing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDashBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetDashBoard" message="tns:IQuotaService_GetDashBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetDashBoardResponse" message="tns:IQuotaService_GetDashBoard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContractOrderList">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetContractOrderList" message="tns:IQuotaService_GetContractOrderList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetContractOrderListResponse" message="tns:IQuotaService_GetContractOrderList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuotaSumAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotaService/GetQuotaSumAmount" message="tns:IQuotaService_GetQuotaSumAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotaService/GetQuotaSumAmountResponse" message="tns:IQuotaService_GetQuotaSumAmount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuotaService" type="tns:IQuotaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/GetAllCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/FetchCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/GetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/GetAllWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/GetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/GetByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/FetchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/FetchAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAllWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/FetchAllWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/FetchByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/FetchByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/QueryByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/QueryByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/SelectByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/SelectByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/SelectByRangeWithMultiOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrderLazyLoad">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/SelectByRangeWithMultiOrderLazyLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateNew">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/CreateNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/DeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateExisted">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/UpdateExisted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/RemoveById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectSum">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/SelectSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/SelectWithMultiOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrderLazyLoad">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Quota/SelectWithMultiOrderLazyLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetExchangeRate">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetExchangeRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPricedQuantity">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetPricedQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetElementsEnableProperty">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/SetElementsEnableProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuotasApproachingPricingEnd">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetQuotasApproachingPricingEnd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseAmount">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetPurchaseAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinancialAccount">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetFinancialAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerifiedQuantity">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetVerifiedQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriceByQuotaPricing">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetPriceByQuotaPricing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAmountByQuotaId">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetAmountByQuotaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayAmountByQuotaId">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetPayAmountByQuotaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivableAmountByQuotaId">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetReceivableAmountByQuotaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByPricing">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetCurrencyByPricing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSettlementCurrencyByQuotaId">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetSettlementCurrencyByQuotaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriceByQuotaPricingWithRate">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetPriceByQuotaPricingWithRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAparReportDataByQuota">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetAparReportDataByQuota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuotaAmount">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetQuotaAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllQuotaListByDateAndCommodity">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetAllQuotaListByDateAndCommodity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuotaSumQty">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetQuotaSumQty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvgPrice">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetAvgPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetARAPReportData">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetARAPReportData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLedgerData">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetLedgerData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuotaStatusWithVerifiedQuantityByQuotaId">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/UpdateQuotaStatusWithVerifiedQuantityByQuotaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuotaAmountsByQuota">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetQuotaAmountsByQuota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPricingMarginReportData">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetPricingMarginReportData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhysicalPNLData">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetPhysicalPNLData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteUnpricingtoPricing">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/CompleteUnpricingtoPricing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePricing">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/UpdatePricing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDashBoard">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetDashBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractOrderList">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetContractOrderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuotaSumAmount">
      <soap:operation soapAction="http://tempuri.org/IQuotaService/GetQuotaSumAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuotaService">
    <wsdl:port name="BasicHttpBinding_IQuotaService" binding="tns:BasicHttpBinding_IQuotaService">
      <soap:address location="http://localhost:1558/Physical/Contracts/QuotaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>