Client/Service References/DeliveryPersonServiceReference/DeliveryPersonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeliveryPersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/DeliveryPersonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/DeliveryPersonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/DeliveryPersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBEntity" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/DeliveryPersonService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/DeliveryPersonService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Utility.Misc" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/DeliveryPersonService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeliveryPersonService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_GetAllCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCount" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_GetAllCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCountResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_FetchCount_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchCount" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_FetchCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchCountResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_GetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCount" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_GetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_GetAllWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithOrder" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_GetAllWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_GetByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRange" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_GetByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_GetByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_GetByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_FetchById_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchById" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_FetchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_FetchAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAll" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_FetchAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_FetchAllWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllWithOrder" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_FetchAllWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_FetchByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRange" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_FetchByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_FetchByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_FetchByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_QueryByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRange" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_QueryByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_QueryByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_QueryByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRange" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectByRangeWithMultiOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrder" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectByRangeWithMultiOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectByRangeWithMultiOrderLazyLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderLazyLoad" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectByRangeWithMultiOrderLazyLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderLazyLoadResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Create_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q1:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_CreateNew_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNew" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_CreateNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_CreateNew_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q2:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteById" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_DeleteById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q3:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Delete_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q4:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Update_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q5:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_UpdateExisted_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExisted" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_UpdateExisted_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExistedResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_UpdateExisted_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q6:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_Remove_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q7:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_RemoveById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveById" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_RemoveById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_RemoveById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q8:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectSum_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectSum" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectSum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectSumResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectSum_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q9:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectById" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q10:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectWithMultiOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrder" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectWithMultiOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectWithMultiOrder_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q11:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectWithMultiOrderLazyLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderLazyLoad" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectWithMultiOrderLazyLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderLazyLoadResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPersonService_SelectWithMultiOrderLazyLoad_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q12:ServerErr" />
  </wsdl:message>
  <wsdl:portType name="IDeliveryPersonService">
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/GetById" message="tns:IDeliveryPersonService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/GetByIdResponse" message="tns:IDeliveryPersonService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/GetAllCount" message="tns:IDeliveryPersonService_GetAllCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/GetAllCountResponse" message="tns:IDeliveryPersonService_GetAllCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/FetchCount" message="tns:IDeliveryPersonService_FetchCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/FetchCountResponse" message="tns:IDeliveryPersonService_FetchCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/GetCount" message="tns:IDeliveryPersonService_GetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/GetCountResponse" message="tns:IDeliveryPersonService_GetCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/GetAll" message="tns:IDeliveryPersonService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/GetAllResponse" message="tns:IDeliveryPersonService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/GetAllWithOrder" message="tns:IDeliveryPersonService_GetAllWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/GetAllWithOrderResponse" message="tns:IDeliveryPersonService_GetAllWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/GetByRange" message="tns:IDeliveryPersonService_GetByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/GetByRangeResponse" message="tns:IDeliveryPersonService_GetByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/GetByRangeWithOrder" message="tns:IDeliveryPersonService_GetByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/GetByRangeWithOrderResponse" message="tns:IDeliveryPersonService_GetByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/FetchById" message="tns:IDeliveryPersonService_FetchById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/FetchByIdResponse" message="tns:IDeliveryPersonService_FetchById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/FetchAll" message="tns:IDeliveryPersonService_FetchAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/FetchAllResponse" message="tns:IDeliveryPersonService_FetchAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAllWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/FetchAllWithOrder" message="tns:IDeliveryPersonService_FetchAllWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/FetchAllWithOrderResponse" message="tns:IDeliveryPersonService_FetchAllWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/FetchByRange" message="tns:IDeliveryPersonService_FetchByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/FetchByRangeResponse" message="tns:IDeliveryPersonService_FetchByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/FetchByRangeWithOrder" message="tns:IDeliveryPersonService_FetchByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/FetchByRangeWithOrderResponse" message="tns:IDeliveryPersonService_FetchByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/Query" message="tns:IDeliveryPersonService_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/QueryResponse" message="tns:IDeliveryPersonService_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/QueryByRange" message="tns:IDeliveryPersonService_QueryByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/QueryByRangeResponse" message="tns:IDeliveryPersonService_QueryByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/QueryByRangeWithOrder" message="tns:IDeliveryPersonService_QueryByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/QueryByRangeWithOrderResponse" message="tns:IDeliveryPersonService_QueryByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/Select" message="tns:IDeliveryPersonService_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectResponse" message="tns:IDeliveryPersonService_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectByRange" message="tns:IDeliveryPersonService_SelectByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectByRangeResponse" message="tns:IDeliveryPersonService_SelectByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectByRangeWithOrder" message="tns:IDeliveryPersonService_SelectByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectByRangeWithOrderResponse" message="tns:IDeliveryPersonService_SelectByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectByRangeWithMultiOrder" message="tns:IDeliveryPersonService_SelectByRangeWithMultiOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectByRangeWithMultiOrderResponse" message="tns:IDeliveryPersonService_SelectByRangeWithMultiOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrderLazyLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectByRangeWithMultiOrderLazyLoad" message="tns:IDeliveryPersonService_SelectByRangeWithMultiOrderLazyLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectByRangeWithMultiOrderLazyLoadResponse" message="tns:IDeliveryPersonService_SelectByRangeWithMultiOrderLazyLoad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/Create" message="tns:IDeliveryPersonService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/CreateResponse" message="tns:IDeliveryPersonService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/CreateServerErrFault" name="ServerErrFault" message="tns:IDeliveryPersonService_Create_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/CreateNew" message="tns:IDeliveryPersonService_CreateNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/CreateNewResponse" message="tns:IDeliveryPersonService_CreateNew_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/CreateNewServerErrFault" name="ServerErrFault" message="tns:IDeliveryPersonService_CreateNew_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/DeleteById" message="tns:IDeliveryPersonService_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/DeleteByIdResponse" message="tns:IDeliveryPersonService_DeleteById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/DeleteByIdServerErrFault" name="ServerErrFault" message="tns:IDeliveryPersonService_DeleteById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/Delete" message="tns:IDeliveryPersonService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/DeleteResponse" message="tns:IDeliveryPersonService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/DeleteServerErrFault" name="ServerErrFault" message="tns:IDeliveryPersonService_Delete_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/Update" message="tns:IDeliveryPersonService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/UpdateResponse" message="tns:IDeliveryPersonService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/UpdateServerErrFault" name="ServerErrFault" message="tns:IDeliveryPersonService_Update_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExisted">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/UpdateExisted" message="tns:IDeliveryPersonService_UpdateExisted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/UpdateExistedResponse" message="tns:IDeliveryPersonService_UpdateExisted_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/UpdateExistedServerErrFault" name="ServerErrFault" message="tns:IDeliveryPersonService_UpdateExisted_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/Remove" message="tns:IDeliveryPersonService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/RemoveResponse" message="tns:IDeliveryPersonService_Remove_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/RemoveServerErrFault" name="ServerErrFault" message="tns:IDeliveryPersonService_Remove_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/RemoveById" message="tns:IDeliveryPersonService_RemoveById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/RemoveByIdResponse" message="tns:IDeliveryPersonService_RemoveById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/RemoveByIdServerErrFault" name="ServerErrFault" message="tns:IDeliveryPersonService_RemoveById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectSum">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectSum" message="tns:IDeliveryPersonService_SelectSum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectSumResponse" message="tns:IDeliveryPersonService_SelectSum_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectSumServerErrFault" name="ServerErrFault" message="tns:IDeliveryPersonService_SelectSum_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectById" message="tns:IDeliveryPersonService_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectByIdResponse" message="tns:IDeliveryPersonService_SelectById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectByIdServerErrFault" name="ServerErrFault" message="tns:IDeliveryPersonService_SelectById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectWithMultiOrder" message="tns:IDeliveryPersonService_SelectWithMultiOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectWithMultiOrderResponse" message="tns:IDeliveryPersonService_SelectWithMultiOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectWithMultiOrderServerErrFault" name="ServerErrFault" message="tns:IDeliveryPersonService_SelectWithMultiOrder_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrderLazyLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectWithMultiOrderLazyLoad" message="tns:IDeliveryPersonService_SelectWithMultiOrderLazyLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectWithMultiOrderLazyLoadResponse" message="tns:IDeliveryPersonService_SelectWithMultiOrderLazyLoad_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_DeliveryPerson/SelectWithMultiOrderLazyLoadServerErrFault" name="ServerErrFault" message="tns:IDeliveryPersonService_SelectWithMultiOrderLazyLoad_ServerErrFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDeliveryPersonService" type="tns:IDeliveryPersonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/GetAllCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/FetchCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/GetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/GetAllWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/GetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/GetByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/FetchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/FetchAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAllWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/FetchAllWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/FetchByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/FetchByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/QueryByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/QueryByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/SelectByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/SelectByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/SelectByRangeWithMultiOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrderLazyLoad">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/SelectByRangeWithMultiOrderLazyLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateNew">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/CreateNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/DeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateExisted">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/UpdateExisted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/RemoveById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectSum">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/SelectSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/SelectWithMultiOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrderLazyLoad">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_DeliveryPerson/SelectWithMultiOrderLazyLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeliveryPersonService">
    <wsdl:port name="BasicHttpBinding_IDeliveryPersonService" binding="tns:BasicHttpBinding_IDeliveryPersonService">
      <soap:address location="http://localhost:1558/SystemSetting/DeliveryPersonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>