Client/Service References/PaymentRequestServiceReference/PaymentRequestService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DBEntity.EnableProperty" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBEntity.EnableProperty" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1558/Physical/Payments/PaymentRequestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PaymentRequestEnableProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAccountPayEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAccountReceiveEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBPPayEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBPReceiveEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCIBtnEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCurrencyEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPaymentMeanEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPaymentUsageEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsQuotaBtnEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRequestAmountEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTransferBankEnable" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PaymentRequestEnableProperty" nillable="true" type="tns:PaymentRequestEnableProperty" />
</xs:schema>