Client/Service References/MarketPriceServiceReference/MarketPriceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1558/MarketPrice/MarketPriceService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1558/MarketPrice/MarketPriceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DBEntity" />
  <xs:import schemaLocation="http://localhost:1558/MarketPrice/MarketPriceService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PriceDBEntity" />
  <xs:element name="GetSelectLmeCommodity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectLmeCommodityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSelectLmeCommodityResult" nillable="true" type="q1:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectLMELastedPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectLMELastedPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSelectLMELastedPriceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLME3MSettlementPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q2:Commodity" />
        <xs:element minOccurs="0" name="tradeDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLME3MSettlementPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLME3MSettlementPriceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLMECashSettlementPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q3:Commodity" />
        <xs:element minOccurs="0" name="tradeDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLMECashSettlementPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLMECashSettlementPriceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLMEDailySettlementPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q4:Commodity" />
        <xs:element minOccurs="0" name="tradeDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="prompDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLMEDailySettlementPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLMEDailySettlementPriceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLMELatestPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q5:Commodity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLMELatestPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLMELatestPriceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLME3MSettlementPriceDate2Date">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q6:Commodity" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLME3MSettlementPriceDate2DateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLME3MSettlementPriceDate2DateResult" nillable="true" type="q7:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLMECashSettlementPriceDate2Date">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q8:Commodity" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLMECashSettlementPriceDate2DateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLMECashSettlementPriceDate2DateResult" nillable="true" type="q9:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLME3MSettlementPriceOfficialPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q10:Commodity" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLME3MSettlementPriceOfficialPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PriceDBEntity" minOccurs="0" name="GetLME3MSettlementPriceOfficialPriceResult" nillable="true" type="q11:ArrayOfLME_OfficialPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLMECashSettlementPriceOfficialPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q12:Commodity" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLMECashSettlementPriceOfficialPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PriceDBEntity" minOccurs="0" name="GetLMECashSettlementPriceOfficialPriceResult" nillable="true" type="q13:ArrayOfLME_OfficialPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSHFELatestPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q14:Commodity" />
        <xs:element minOccurs="0" name="promptMonth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSHFELatestPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSHFELatestPriceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSHFESettlementPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q15:Commodity" />
        <xs:element minOccurs="0" name="tradeDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="promptYear" type="xs:int" />
        <xs:element minOccurs="0" name="promptMonth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSHFESettlementPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSHFESettlementPriceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSHFEMonthlySettlementPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q16:Commodity" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
        <xs:element minOccurs="0" name="promptYear" type="xs:int" />
        <xs:element minOccurs="0" name="promptMonth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSHFEMonthlySettlementPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PriceDBEntity" minOccurs="0" name="GetSHFEMonthlySettlementPriceResult" nillable="true" type="q17:ArrayOfSHFE_MonthlySettlePrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMMPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q18:Commodity" />
        <xs:element minOccurs="0" name="tradeDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMMPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSMMPriceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSHMETPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q19:Commodity" />
        <xs:element minOccurs="0" name="tradeDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSHMETPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSHMETPriceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMMWebPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q20:Commodity" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMMWebPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PriceDBEntity" minOccurs="0" name="GetSMMWebPriceResult" nillable="true" type="q21:ArrayOfSMM_SMMWebPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSHMETWebPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q22:Commodity" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSHMETWebPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PriceDBEntity" minOccurs="0" name="GetSHMETWebPriceResult" nillable="true" type="q23:ArrayOfSMM_SMMWebPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPCJWebPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q24:Commodity" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPCJWebPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PriceDBEntity" minOccurs="0" name="GetPCJWebPriceResult" nillable="true" type="q25:ArrayOfSMM_SMMWebPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNCWebPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q26:Commodity" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNCWebPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PriceDBEntity" minOccurs="0" name="GetNCWebPriceResult" nillable="true" type="q27:ArrayOfSMM_SMMWebPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrenctPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pricingBasis" type="xs:int" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="comm" nillable="true" type="q28:Commodity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrenctPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PriceDBEntity" minOccurs="0" name="GetCurrenctPriceResult" nillable="true" type="q29:CurrentPrice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>