Senlan2.Weixin.Services/Service References/BusinessPartnerServiceReference/BusinessPartnerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BusinessPartnerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/BusinessPartnerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/BusinessPartnerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/BusinessPartnerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBEntity" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/BusinessPartnerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/BusinessPartnerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Utility.Misc" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/BusinessPartnerService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/BusinessPartnerService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DBEntity.EnumEntity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBusinessPartnerService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetAllCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCount" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetAllCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCountResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_FetchCount_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchCount" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_FetchCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchCountResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCount" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetAllWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithOrder" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetAllWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRange" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_FetchById_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchById" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_FetchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_FetchAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAll" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_FetchAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_FetchAllWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllWithOrder" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_FetchAllWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_FetchByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRange" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_FetchByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_FetchByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_FetchByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_QueryByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRange" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_QueryByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_QueryByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_QueryByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRange" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectByRangeWithMultiOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrder" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectByRangeWithMultiOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectByRangeWithMultiOrderLazyLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderLazyLoad" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectByRangeWithMultiOrderLazyLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderLazyLoadResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Create_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q1:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_CreateNew_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNew" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_CreateNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_CreateNew_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q2:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteById" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_DeleteById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q3:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Delete_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q4:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Update_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q5:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_UpdateExisted_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExisted" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_UpdateExisted_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExistedResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_UpdateExisted_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q6:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_Remove_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q7:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_RemoveById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveById" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_RemoveById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_RemoveById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q8:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectSum_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectSum" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectSum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectSumResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectSum_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q9:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectById" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q10:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectWithMultiOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrder" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectWithMultiOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectWithMultiOrder_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q11:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectWithMultiOrderLazyLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderLazyLoad" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectWithMultiOrderLazyLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderLazyLoadResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_SelectWithMultiOrderLazyLoad_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q12:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetInternalCustomersByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInternalCustomersByUser" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetInternalCustomersByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInternalCustomersByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetBusinessPartnersByType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusinessPartnersByType" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_GetBusinessPartnersByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusinessPartnersByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_DeletedById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletedById" />
  </wsdl:message>
  <wsdl:message name="IBusinessPartnerService_DeletedById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletedByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IBusinessPartnerService">
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/GetById" message="tns:IBusinessPartnerService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/GetByIdResponse" message="tns:IBusinessPartnerService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/GetAllCount" message="tns:IBusinessPartnerService_GetAllCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/GetAllCountResponse" message="tns:IBusinessPartnerService_GetAllCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/FetchCount" message="tns:IBusinessPartnerService_FetchCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/FetchCountResponse" message="tns:IBusinessPartnerService_FetchCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/GetCount" message="tns:IBusinessPartnerService_GetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/GetCountResponse" message="tns:IBusinessPartnerService_GetCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/GetAll" message="tns:IBusinessPartnerService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/GetAllResponse" message="tns:IBusinessPartnerService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/GetAllWithOrder" message="tns:IBusinessPartnerService_GetAllWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/GetAllWithOrderResponse" message="tns:IBusinessPartnerService_GetAllWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/GetByRange" message="tns:IBusinessPartnerService_GetByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/GetByRangeResponse" message="tns:IBusinessPartnerService_GetByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/GetByRangeWithOrder" message="tns:IBusinessPartnerService_GetByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/GetByRangeWithOrderResponse" message="tns:IBusinessPartnerService_GetByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/FetchById" message="tns:IBusinessPartnerService_FetchById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/FetchByIdResponse" message="tns:IBusinessPartnerService_FetchById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/FetchAll" message="tns:IBusinessPartnerService_FetchAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/FetchAllResponse" message="tns:IBusinessPartnerService_FetchAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAllWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/FetchAllWithOrder" message="tns:IBusinessPartnerService_FetchAllWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/FetchAllWithOrderResponse" message="tns:IBusinessPartnerService_FetchAllWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/FetchByRange" message="tns:IBusinessPartnerService_FetchByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/FetchByRangeResponse" message="tns:IBusinessPartnerService_FetchByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/FetchByRangeWithOrder" message="tns:IBusinessPartnerService_FetchByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/FetchByRangeWithOrderResponse" message="tns:IBusinessPartnerService_FetchByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/Query" message="tns:IBusinessPartnerService_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/QueryResponse" message="tns:IBusinessPartnerService_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/QueryByRange" message="tns:IBusinessPartnerService_QueryByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/QueryByRangeResponse" message="tns:IBusinessPartnerService_QueryByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/QueryByRangeWithOrder" message="tns:IBusinessPartnerService_QueryByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/QueryByRangeWithOrderResponse" message="tns:IBusinessPartnerService_QueryByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/Select" message="tns:IBusinessPartnerService_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectResponse" message="tns:IBusinessPartnerService_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectByRange" message="tns:IBusinessPartnerService_SelectByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectByRangeResponse" message="tns:IBusinessPartnerService_SelectByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectByRangeWithOrder" message="tns:IBusinessPartnerService_SelectByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectByRangeWithOrderResponse" message="tns:IBusinessPartnerService_SelectByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectByRangeWithMultiOrder" message="tns:IBusinessPartnerService_SelectByRangeWithMultiOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectByRangeWithMultiOrderResponse" message="tns:IBusinessPartnerService_SelectByRangeWithMultiOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrderLazyLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectByRangeWithMultiOrderLazyLoad" message="tns:IBusinessPartnerService_SelectByRangeWithMultiOrderLazyLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectByRangeWithMultiOrderLazyLoadResponse" message="tns:IBusinessPartnerService_SelectByRangeWithMultiOrderLazyLoad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/Create" message="tns:IBusinessPartnerService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/CreateResponse" message="tns:IBusinessPartnerService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/CreateServerErrFault" name="ServerErrFault" message="tns:IBusinessPartnerService_Create_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/CreateNew" message="tns:IBusinessPartnerService_CreateNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/CreateNewResponse" message="tns:IBusinessPartnerService_CreateNew_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/CreateNewServerErrFault" name="ServerErrFault" message="tns:IBusinessPartnerService_CreateNew_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/DeleteById" message="tns:IBusinessPartnerService_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/DeleteByIdResponse" message="tns:IBusinessPartnerService_DeleteById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/DeleteByIdServerErrFault" name="ServerErrFault" message="tns:IBusinessPartnerService_DeleteById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/Delete" message="tns:IBusinessPartnerService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/DeleteResponse" message="tns:IBusinessPartnerService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/DeleteServerErrFault" name="ServerErrFault" message="tns:IBusinessPartnerService_Delete_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/Update" message="tns:IBusinessPartnerService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/UpdateResponse" message="tns:IBusinessPartnerService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/UpdateServerErrFault" name="ServerErrFault" message="tns:IBusinessPartnerService_Update_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExisted">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/UpdateExisted" message="tns:IBusinessPartnerService_UpdateExisted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/UpdateExistedResponse" message="tns:IBusinessPartnerService_UpdateExisted_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/UpdateExistedServerErrFault" name="ServerErrFault" message="tns:IBusinessPartnerService_UpdateExisted_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/Remove" message="tns:IBusinessPartnerService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/RemoveResponse" message="tns:IBusinessPartnerService_Remove_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/RemoveServerErrFault" name="ServerErrFault" message="tns:IBusinessPartnerService_Remove_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/RemoveById" message="tns:IBusinessPartnerService_RemoveById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/RemoveByIdResponse" message="tns:IBusinessPartnerService_RemoveById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/RemoveByIdServerErrFault" name="ServerErrFault" message="tns:IBusinessPartnerService_RemoveById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectSum">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectSum" message="tns:IBusinessPartnerService_SelectSum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectSumResponse" message="tns:IBusinessPartnerService_SelectSum_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectSumServerErrFault" name="ServerErrFault" message="tns:IBusinessPartnerService_SelectSum_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectById" message="tns:IBusinessPartnerService_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectByIdResponse" message="tns:IBusinessPartnerService_SelectById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectByIdServerErrFault" name="ServerErrFault" message="tns:IBusinessPartnerService_SelectById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectWithMultiOrder" message="tns:IBusinessPartnerService_SelectWithMultiOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectWithMultiOrderResponse" message="tns:IBusinessPartnerService_SelectWithMultiOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectWithMultiOrderServerErrFault" name="ServerErrFault" message="tns:IBusinessPartnerService_SelectWithMultiOrder_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrderLazyLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectWithMultiOrderLazyLoad" message="tns:IBusinessPartnerService_SelectWithMultiOrderLazyLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectWithMultiOrderLazyLoadResponse" message="tns:IBusinessPartnerService_SelectWithMultiOrderLazyLoad_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_BusinessPartner/SelectWithMultiOrderLazyLoadServerErrFault" name="ServerErrFault" message="tns:IBusinessPartnerService_SelectWithMultiOrderLazyLoad_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInternalCustomersByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessPartnerService/GetInternalCustomersByUser" message="tns:IBusinessPartnerService_GetInternalCustomersByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessPartnerService/GetInternalCustomersByUserResponse" message="tns:IBusinessPartnerService_GetInternalCustomersByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBusinessPartnersByType">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessPartnerService/GetBusinessPartnersByType" message="tns:IBusinessPartnerService_GetBusinessPartnersByType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessPartnerService/GetBusinessPartnersByTypeResponse" message="tns:IBusinessPartnerService_GetBusinessPartnersByType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletedById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessPartnerService/DeletedById" message="tns:IBusinessPartnerService_DeletedById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessPartnerService/DeletedByIdResponse" message="tns:IBusinessPartnerService_DeletedById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBusinessPartnerService" type="tns:IBusinessPartnerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/GetAllCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/FetchCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/GetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/GetAllWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/GetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/GetByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/FetchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/FetchAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAllWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/FetchAllWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/FetchByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/FetchByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/QueryByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/QueryByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/SelectByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/SelectByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/SelectByRangeWithMultiOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrderLazyLoad">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/SelectByRangeWithMultiOrderLazyLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateNew">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/CreateNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/DeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateExisted">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/UpdateExisted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/RemoveById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectSum">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/SelectSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/SelectWithMultiOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrderLazyLoad">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_BusinessPartner/SelectWithMultiOrderLazyLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInternalCustomersByUser">
      <soap:operation soapAction="http://tempuri.org/IBusinessPartnerService/GetInternalCustomersByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessPartnersByType">
      <soap:operation soapAction="http://tempuri.org/IBusinessPartnerService/GetBusinessPartnersByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletedById">
      <soap:operation soapAction="http://tempuri.org/IBusinessPartnerService/DeletedById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessPartnerService">
    <wsdl:port name="BasicHttpBinding_IBusinessPartnerService" binding="tns:BasicHttpBinding_IBusinessPartnerService">
      <soap:address location="http://localhost:1558/SystemSetting/BusinessPartnerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>