Client/Service References/VATInvoiceServiceReference/VATInvoiceService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Physical.VATInvoices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Physical.VATInvoices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1558/Physical/VATInvoices/VATInvoiceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBEntity" />
  <xs:complexType name="ArrayOfVATInvoiceBatchClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VATInvoiceBatchClass" nillable="true" type="tns:VATInvoiceBatchClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVATInvoiceBatchClass" nillable="true" type="tns:ArrayOfVATInvoiceBatchClass" />
  <xs:complexType name="VATInvoiceBatchClass">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="VATInvoice" nillable="true" type="q1:VATInvoice" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="VATInvoiceLines" nillable="true" type="q2:ArrayOfVATInvoiceLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VATInvoiceBatchClass" nillable="true" type="tns:VATInvoiceBatchClass" />
</xs:schema>