Client/Service References/LMEPositionServiceReference/LMEPositionService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DBEntity.EnableProperty" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBEntity.EnableProperty" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1558/Futures/LME/LMEPositionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="LMEPositionEnableProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsCommodityEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLotQuantityEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPriceEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTradeDirectionEnable" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="LMEPositionEnableProperty" nillable="true" type="tns:LMEPositionEnableProperty" />
</xs:schema>