Client/Service References/SystemParameterServiceReference/SystemParameterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SystemParameterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/SystemParameterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/SystemParameterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/SystemParameterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBEntity" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/SystemParameterService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/SystemParameterService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Utility.Misc" />
      <xsd:import schemaLocation="http://localhost:1558/SystemSetting/SystemParameterService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISystemParameterService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_GetAllCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCount" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_GetAllCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_FetchCount_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchCount" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_FetchCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_GetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCount" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_GetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_GetAllWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithOrder" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_GetAllWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_GetByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRange" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_GetByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_GetByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_GetByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_FetchById_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchById" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_FetchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_FetchAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAll" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_FetchAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_FetchAllWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllWithOrder" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_FetchAllWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_FetchByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRange" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_FetchByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_FetchByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_FetchByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_QueryByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRange" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_QueryByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_QueryByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_QueryByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRange" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectByRangeWithMultiOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrder" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectByRangeWithMultiOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectByRangeWithMultiOrderLazyLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderLazyLoad" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectByRangeWithMultiOrderLazyLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderLazyLoadResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Create_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q1:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_CreateNew_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNew" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_CreateNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_CreateNew_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q2:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteById" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_DeleteById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q3:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Delete_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q4:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Update_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q5:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_UpdateExisted_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExisted" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_UpdateExisted_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExistedResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_UpdateExisted_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q6:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_Remove_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q7:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_RemoveById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveById" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_RemoveById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_RemoveById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q8:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectSum_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectSum" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectSum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectSumResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectSum_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q9:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectById" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q10:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectWithMultiOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrder" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectWithMultiOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectWithMultiOrder_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q11:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectWithMultiOrderLazyLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderLazyLoad" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectWithMultiOrderLazyLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderLazyLoadResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_SelectWithMultiOrderLazyLoad_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q12:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_GetDiskNameList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDiskNameList" />
  </wsdl:message>
  <wsdl:message name="ISystemParameterService_GetDiskNameList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDiskNameListResponse" />
  </wsdl:message>
  <wsdl:portType name="ISystemParameterService">
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/GetById" message="tns:ISystemParameterService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/GetByIdResponse" message="tns:ISystemParameterService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/GetAllCount" message="tns:ISystemParameterService_GetAllCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/GetAllCountResponse" message="tns:ISystemParameterService_GetAllCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/FetchCount" message="tns:ISystemParameterService_FetchCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/FetchCountResponse" message="tns:ISystemParameterService_FetchCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/GetCount" message="tns:ISystemParameterService_GetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/GetCountResponse" message="tns:ISystemParameterService_GetCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/GetAll" message="tns:ISystemParameterService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/GetAllResponse" message="tns:ISystemParameterService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/GetAllWithOrder" message="tns:ISystemParameterService_GetAllWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/GetAllWithOrderResponse" message="tns:ISystemParameterService_GetAllWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/GetByRange" message="tns:ISystemParameterService_GetByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/GetByRangeResponse" message="tns:ISystemParameterService_GetByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/GetByRangeWithOrder" message="tns:ISystemParameterService_GetByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/GetByRangeWithOrderResponse" message="tns:ISystemParameterService_GetByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/FetchById" message="tns:ISystemParameterService_FetchById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/FetchByIdResponse" message="tns:ISystemParameterService_FetchById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/FetchAll" message="tns:ISystemParameterService_FetchAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/FetchAllResponse" message="tns:ISystemParameterService_FetchAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAllWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/FetchAllWithOrder" message="tns:ISystemParameterService_FetchAllWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/FetchAllWithOrderResponse" message="tns:ISystemParameterService_FetchAllWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/FetchByRange" message="tns:ISystemParameterService_FetchByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/FetchByRangeResponse" message="tns:ISystemParameterService_FetchByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/FetchByRangeWithOrder" message="tns:ISystemParameterService_FetchByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/FetchByRangeWithOrderResponse" message="tns:ISystemParameterService_FetchByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/Query" message="tns:ISystemParameterService_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/QueryResponse" message="tns:ISystemParameterService_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/QueryByRange" message="tns:ISystemParameterService_QueryByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/QueryByRangeResponse" message="tns:ISystemParameterService_QueryByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/QueryByRangeWithOrder" message="tns:ISystemParameterService_QueryByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/QueryByRangeWithOrderResponse" message="tns:ISystemParameterService_QueryByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/Select" message="tns:ISystemParameterService_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectResponse" message="tns:ISystemParameterService_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectByRange" message="tns:ISystemParameterService_SelectByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectByRangeResponse" message="tns:ISystemParameterService_SelectByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectByRangeWithOrder" message="tns:ISystemParameterService_SelectByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectByRangeWithOrderResponse" message="tns:ISystemParameterService_SelectByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectByRangeWithMultiOrder" message="tns:ISystemParameterService_SelectByRangeWithMultiOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectByRangeWithMultiOrderResponse" message="tns:ISystemParameterService_SelectByRangeWithMultiOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrderLazyLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectByRangeWithMultiOrderLazyLoad" message="tns:ISystemParameterService_SelectByRangeWithMultiOrderLazyLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectByRangeWithMultiOrderLazyLoadResponse" message="tns:ISystemParameterService_SelectByRangeWithMultiOrderLazyLoad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/Create" message="tns:ISystemParameterService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/CreateResponse" message="tns:ISystemParameterService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/CreateServerErrFault" name="ServerErrFault" message="tns:ISystemParameterService_Create_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/CreateNew" message="tns:ISystemParameterService_CreateNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/CreateNewResponse" message="tns:ISystemParameterService_CreateNew_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/CreateNewServerErrFault" name="ServerErrFault" message="tns:ISystemParameterService_CreateNew_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/DeleteById" message="tns:ISystemParameterService_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/DeleteByIdResponse" message="tns:ISystemParameterService_DeleteById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/DeleteByIdServerErrFault" name="ServerErrFault" message="tns:ISystemParameterService_DeleteById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/Delete" message="tns:ISystemParameterService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/DeleteResponse" message="tns:ISystemParameterService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/DeleteServerErrFault" name="ServerErrFault" message="tns:ISystemParameterService_Delete_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/Update" message="tns:ISystemParameterService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/UpdateResponse" message="tns:ISystemParameterService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/UpdateServerErrFault" name="ServerErrFault" message="tns:ISystemParameterService_Update_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExisted">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/UpdateExisted" message="tns:ISystemParameterService_UpdateExisted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/UpdateExistedResponse" message="tns:ISystemParameterService_UpdateExisted_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/UpdateExistedServerErrFault" name="ServerErrFault" message="tns:ISystemParameterService_UpdateExisted_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/Remove" message="tns:ISystemParameterService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/RemoveResponse" message="tns:ISystemParameterService_Remove_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/RemoveServerErrFault" name="ServerErrFault" message="tns:ISystemParameterService_Remove_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/RemoveById" message="tns:ISystemParameterService_RemoveById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/RemoveByIdResponse" message="tns:ISystemParameterService_RemoveById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/RemoveByIdServerErrFault" name="ServerErrFault" message="tns:ISystemParameterService_RemoveById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectSum">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectSum" message="tns:ISystemParameterService_SelectSum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectSumResponse" message="tns:ISystemParameterService_SelectSum_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectSumServerErrFault" name="ServerErrFault" message="tns:ISystemParameterService_SelectSum_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectById" message="tns:ISystemParameterService_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectByIdResponse" message="tns:ISystemParameterService_SelectById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectByIdServerErrFault" name="ServerErrFault" message="tns:ISystemParameterService_SelectById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectWithMultiOrder" message="tns:ISystemParameterService_SelectWithMultiOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectWithMultiOrderResponse" message="tns:ISystemParameterService_SelectWithMultiOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectWithMultiOrderServerErrFault" name="ServerErrFault" message="tns:ISystemParameterService_SelectWithMultiOrder_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrderLazyLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectWithMultiOrderLazyLoad" message="tns:ISystemParameterService_SelectWithMultiOrderLazyLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectWithMultiOrderLazyLoadResponse" message="tns:ISystemParameterService_SelectWithMultiOrderLazyLoad_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_SystemParameter/SelectWithMultiOrderLazyLoadServerErrFault" name="ServerErrFault" message="tns:ISystemParameterService_SelectWithMultiOrderLazyLoad_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDiskNameList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemParameterService/GetDiskNameList" message="tns:ISystemParameterService_GetDiskNameList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemParameterService/GetDiskNameListResponse" message="tns:ISystemParameterService_GetDiskNameList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISystemParameterService" type="tns:ISystemParameterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/GetAllCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/FetchCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/GetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/GetAllWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/GetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/GetByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/FetchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/FetchAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAllWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/FetchAllWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/FetchByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/FetchByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/QueryByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/QueryByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/SelectByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/SelectByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/SelectByRangeWithMultiOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrderLazyLoad">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/SelectByRangeWithMultiOrderLazyLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateNew">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/CreateNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/DeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateExisted">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/UpdateExisted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/RemoveById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectSum">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/SelectSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/SelectWithMultiOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrderLazyLoad">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_SystemParameter/SelectWithMultiOrderLazyLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDiskNameList">
      <soap:operation soapAction="http://tempuri.org/ISystemParameterService/GetDiskNameList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemParameterService">
    <wsdl:port name="BasicHttpBinding_ISystemParameterService" binding="tns:BasicHttpBinding_ISystemParameterService">
      <soap:address location="http://localhost:1558/SystemSetting/SystemParameterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>