Client/Service References/PricingServiceReference/PricingService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Physical.Pricings" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Physical.Pricings" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExposureChartClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExposureChartClass" nillable="true" type="tns:ExposureChartClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExposureChartClass" nillable="true" type="tns:ArrayOfExposureChartClass" />
  <xs:complexType name="ExposureChartClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="LmeQty3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LmeQty4" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Qty1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Qty2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShfeQty3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShfeQty4" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="X" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExposureChartClass" nillable="true" type="tns:ExposureChartClass" />
</xs:schema>