Client/Service References/FundFlowServiceReference/FundFlowService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DBEntity.EnableProperty" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBEntity.EnableProperty" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1558/Finance/FundFlows/FundFlowService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="FundFlowEnableProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsBPEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInternalCustomerEnable" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="FundFlowEnableProperty" nillable="true" type="tns:FundFlowEnableProperty" />
</xs:schema>