Client/Service References/SHFEPositionServiceReference/SHFEPositionService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Futures.SHFE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Futures.SHFE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfForwardPositionReportClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ForwardPositionReportClass" nillable="true" type="tns:ForwardPositionReportClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfForwardPositionReportClass" nillable="true" type="tns:ArrayOfForwardPositionReportClass" />
  <xs:complexType name="ForwardPositionReportClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrokerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionDerection" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Qty" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TradeDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForwardPositionReportClass" nillable="true" type="tns:ForwardPositionReportClass" />
</xs:schema>