Client/Service References/CommercialInvoiceServiceReference/CommercialInvoiceService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DBEntity.EnableProperty" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBEntity.EnableProperty" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1558/Physical/CommercialInvoices/CommercialInvoiceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PCommercialInvoiceEnableProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAmountEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeliveryAddEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeliveryDeleteEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsExchangeRateEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsIncludeInterestEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLCAddEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLCDeleteEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPaymentMeansEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPriceEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsQuotaEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSettlementCurrencyEnable" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PCommercialInvoiceEnableProperty" nillable="true" type="tns:PCommercialInvoiceEnableProperty" />
</xs:schema>