Client/Service References/UploadServiceReference/UploadService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1558/Attachment/UploadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Attachment" />
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Attachment" minOccurs="0" name="request" nillable="true" type="q1:FileUploadMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Attachment" minOccurs="0" name="UploadFileResult" nillable="true" type="q2:FileUploadMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.Attachment" minOccurs="0" name="request" nillable="true" type="q3:FileUploadMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.Attachment" minOccurs="0" name="DownloadFileResult" nillable="true" type="q4:FileUploadMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>