Client/Service References/UploadServiceReference/UploadService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Attachment" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Attachment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileUploadMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Length" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Offset" type="xs:long" />
      <xs:element minOccurs="0" name="SaveName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SavePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileUploadMessage" nillable="true" type="tns:FileUploadMessage" />
</xs:schema>