Client/Service References/ContractServiceReference/ContractService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContractService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/ContractService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/ContractService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/ContractService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBEntity" />
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/ContractService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/ContractService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Utility.Misc" />
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/ContractService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" />
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/ContractService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Services.Physical.Contracts" />
      <xsd:import schemaLocation="http://localhost:1558/Physical/Contracts/ContractService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/DBEntity.EnableProperty" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContractService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetAllCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCount" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetAllCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCountResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_FetchCount_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchCount" />
  </wsdl:message>
  <wsdl:message name="IContractService_FetchCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchCountResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCount" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetAllWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithOrder" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetAllWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRange" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_FetchById_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchById" />
  </wsdl:message>
  <wsdl:message name="IContractService_FetchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_FetchAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAll" />
  </wsdl:message>
  <wsdl:message name="IContractService_FetchAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_FetchAllWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllWithOrder" />
  </wsdl:message>
  <wsdl:message name="IContractService_FetchAllWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_FetchByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRange" />
  </wsdl:message>
  <wsdl:message name="IContractService_FetchByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_FetchByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IContractService_FetchByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IContractService_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_QueryByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRange" />
  </wsdl:message>
  <wsdl:message name="IContractService_QueryByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_QueryByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IContractService_QueryByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IContractService_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRange" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectByRangeWithMultiOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrder" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectByRangeWithMultiOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectByRangeWithMultiOrderLazyLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderLazyLoad" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectByRangeWithMultiOrderLazyLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderLazyLoadResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IContractService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_Create_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q1:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IContractService_CreateNew_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNew" />
  </wsdl:message>
  <wsdl:message name="IContractService_CreateNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_CreateNew_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q2:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IContractService_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteById" />
  </wsdl:message>
  <wsdl:message name="IContractService_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_DeleteById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q3:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IContractService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IContractService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_Delete_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q4:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IContractService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IContractService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_Update_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q5:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IContractService_UpdateExisted_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExisted" />
  </wsdl:message>
  <wsdl:message name="IContractService_UpdateExisted_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExistedResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_UpdateExisted_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q6:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IContractService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IContractService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_Remove_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q7:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IContractService_RemoveById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveById" />
  </wsdl:message>
  <wsdl:message name="IContractService_RemoveById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_RemoveById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q8:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectSum_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectSum" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectSum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectSumResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectSum_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q9:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectById" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q10:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectWithMultiOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrder" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectWithMultiOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectWithMultiOrder_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q11:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectWithMultiOrderLazyLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderLazyLoad" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectWithMultiOrderLazyLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderLazyLoadResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_SelectWithMultiOrderLazyLoad_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q12:ServerErr" />
  </wsdl:message>
  <wsdl:message name="IContractService_CreateDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocument" />
  </wsdl:message>
  <wsdl:message name="IContractService_CreateDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_UpdateDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocument" />
  </wsdl:message>
  <wsdl:message name="IContractService_UpdateDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_SetElementsEnableProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:SetElementsEnableProperty" />
  </wsdl:message>
  <wsdl:message name="IContractService_SetElementsEnableProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetElementsEnablePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_RemoveQuotaById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveQuotaById" />
  </wsdl:message>
  <wsdl:message name="IContractService_RemoveQuotaById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveQuotaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_SetRelTransactionEnableProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRelTransactionEnableProperty" />
  </wsdl:message>
  <wsdl:message name="IContractService_SetRelTransactionEnableProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRelTransactionEnablePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_RelQuotaCanBeDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:RelQuotaCanBeDelete" />
  </wsdl:message>
  <wsdl:message name="IContractService_RelQuotaCanBeDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:RelQuotaCanBeDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IContractService">
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/GetById" message="tns:IContractService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/GetByIdResponse" message="tns:IContractService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/GetAllCount" message="tns:IContractService_GetAllCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/GetAllCountResponse" message="tns:IContractService_GetAllCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/FetchCount" message="tns:IContractService_FetchCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/FetchCountResponse" message="tns:IContractService_FetchCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/GetCount" message="tns:IContractService_GetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/GetCountResponse" message="tns:IContractService_GetCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/GetAll" message="tns:IContractService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/GetAllResponse" message="tns:IContractService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/GetAllWithOrder" message="tns:IContractService_GetAllWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/GetAllWithOrderResponse" message="tns:IContractService_GetAllWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/GetByRange" message="tns:IContractService_GetByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/GetByRangeResponse" message="tns:IContractService_GetByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/GetByRangeWithOrder" message="tns:IContractService_GetByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/GetByRangeWithOrderResponse" message="tns:IContractService_GetByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/FetchById" message="tns:IContractService_FetchById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/FetchByIdResponse" message="tns:IContractService_FetchById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/FetchAll" message="tns:IContractService_FetchAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/FetchAllResponse" message="tns:IContractService_FetchAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAllWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/FetchAllWithOrder" message="tns:IContractService_FetchAllWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/FetchAllWithOrderResponse" message="tns:IContractService_FetchAllWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/FetchByRange" message="tns:IContractService_FetchByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/FetchByRangeResponse" message="tns:IContractService_FetchByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/FetchByRangeWithOrder" message="tns:IContractService_FetchByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/FetchByRangeWithOrderResponse" message="tns:IContractService_FetchByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/Query" message="tns:IContractService_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/QueryResponse" message="tns:IContractService_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/QueryByRange" message="tns:IContractService_QueryByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/QueryByRangeResponse" message="tns:IContractService_QueryByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/QueryByRangeWithOrder" message="tns:IContractService_QueryByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/QueryByRangeWithOrderResponse" message="tns:IContractService_QueryByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/Select" message="tns:IContractService_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectResponse" message="tns:IContractService_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectByRange" message="tns:IContractService_SelectByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectByRangeResponse" message="tns:IContractService_SelectByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectByRangeWithOrder" message="tns:IContractService_SelectByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectByRangeWithOrderResponse" message="tns:IContractService_SelectByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectByRangeWithMultiOrder" message="tns:IContractService_SelectByRangeWithMultiOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectByRangeWithMultiOrderResponse" message="tns:IContractService_SelectByRangeWithMultiOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrderLazyLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectByRangeWithMultiOrderLazyLoad" message="tns:IContractService_SelectByRangeWithMultiOrderLazyLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectByRangeWithMultiOrderLazyLoadResponse" message="tns:IContractService_SelectByRangeWithMultiOrderLazyLoad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/Create" message="tns:IContractService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/CreateResponse" message="tns:IContractService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Contract/CreateServerErrFault" name="ServerErrFault" message="tns:IContractService_Create_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/CreateNew" message="tns:IContractService_CreateNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/CreateNewResponse" message="tns:IContractService_CreateNew_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Contract/CreateNewServerErrFault" name="ServerErrFault" message="tns:IContractService_CreateNew_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/DeleteById" message="tns:IContractService_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/DeleteByIdResponse" message="tns:IContractService_DeleteById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Contract/DeleteByIdServerErrFault" name="ServerErrFault" message="tns:IContractService_DeleteById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/Delete" message="tns:IContractService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/DeleteResponse" message="tns:IContractService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Contract/DeleteServerErrFault" name="ServerErrFault" message="tns:IContractService_Delete_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/Update" message="tns:IContractService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/UpdateResponse" message="tns:IContractService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Contract/UpdateServerErrFault" name="ServerErrFault" message="tns:IContractService_Update_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExisted">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/UpdateExisted" message="tns:IContractService_UpdateExisted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/UpdateExistedResponse" message="tns:IContractService_UpdateExisted_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Contract/UpdateExistedServerErrFault" name="ServerErrFault" message="tns:IContractService_UpdateExisted_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/Remove" message="tns:IContractService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/RemoveResponse" message="tns:IContractService_Remove_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Contract/RemoveServerErrFault" name="ServerErrFault" message="tns:IContractService_Remove_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/RemoveById" message="tns:IContractService_RemoveById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/RemoveByIdResponse" message="tns:IContractService_RemoveById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Contract/RemoveByIdServerErrFault" name="ServerErrFault" message="tns:IContractService_RemoveById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectSum">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectSum" message="tns:IContractService_SelectSum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectSumResponse" message="tns:IContractService_SelectSum_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectSumServerErrFault" name="ServerErrFault" message="tns:IContractService_SelectSum_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectById" message="tns:IContractService_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectByIdResponse" message="tns:IContractService_SelectById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectByIdServerErrFault" name="ServerErrFault" message="tns:IContractService_SelectById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectWithMultiOrder" message="tns:IContractService_SelectWithMultiOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectWithMultiOrderResponse" message="tns:IContractService_SelectWithMultiOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectWithMultiOrderServerErrFault" name="ServerErrFault" message="tns:IContractService_SelectWithMultiOrder_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrderLazyLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectWithMultiOrderLazyLoad" message="tns:IContractService_SelectWithMultiOrderLazyLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectWithMultiOrderLazyLoadResponse" message="tns:IContractService_SelectWithMultiOrderLazyLoad_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_Contract/SelectWithMultiOrderLazyLoadServerErrFault" name="ServerErrFault" message="tns:IContractService_SelectWithMultiOrderLazyLoad_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IContractService/CreateDocument" message="tns:IContractService_CreateDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContractService/CreateDocumentResponse" message="tns:IContractService_CreateDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IContractService/UpdateDocument" message="tns:IContractService_UpdateDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContractService/UpdateDocumentResponse" message="tns:IContractService_UpdateDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetElementsEnableProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IContractService/SetElementsEnableProperty" message="tns:IContractService_SetElementsEnableProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContractService/SetElementsEnablePropertyResponse" message="tns:IContractService_SetElementsEnableProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveQuotaById">
      <wsdl:input wsaw:Action="http://tempuri.org/IContractService/RemoveQuotaById" message="tns:IContractService_RemoveQuotaById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContractService/RemoveQuotaByIdResponse" message="tns:IContractService_RemoveQuotaById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRelTransactionEnableProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IContractService/SetRelTransactionEnableProperty" message="tns:IContractService_SetRelTransactionEnableProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContractService/SetRelTransactionEnablePropertyResponse" message="tns:IContractService_SetRelTransactionEnableProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RelQuotaCanBeDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IContractService/RelQuotaCanBeDelete" message="tns:IContractService_RelQuotaCanBeDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContractService/RelQuotaCanBeDeleteResponse" message="tns:IContractService_RelQuotaCanBeDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContractService" type="tns:IContractService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/GetAllCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/FetchCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/GetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/GetAllWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/GetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/GetByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/FetchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/FetchAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAllWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/FetchAllWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/FetchByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/FetchByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/QueryByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/QueryByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/SelectByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/SelectByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/SelectByRangeWithMultiOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrderLazyLoad">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/SelectByRangeWithMultiOrderLazyLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateNew">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/CreateNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/DeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateExisted">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/UpdateExisted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/RemoveById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectSum">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/SelectSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/SelectWithMultiOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrderLazyLoad">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_Contract/SelectWithMultiOrderLazyLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateDocument">
      <soap:operation soapAction="http://tempuri.org/IContractService/CreateDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocument">
      <soap:operation soapAction="http://tempuri.org/IContractService/UpdateDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetElementsEnableProperty">
      <soap:operation soapAction="http://tempuri.org/IContractService/SetElementsEnableProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveQuotaById">
      <soap:operation soapAction="http://tempuri.org/IContractService/RemoveQuotaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRelTransactionEnableProperty">
      <soap:operation soapAction="http://tempuri.org/IContractService/SetRelTransactionEnableProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelQuotaCanBeDelete">
      <soap:operation soapAction="http://tempuri.org/IContractService/RelQuotaCanBeDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContractService">
    <wsdl:port name="BasicHttpBinding_IContractService" binding="tns:BasicHttpBinding_IContractService">
      <soap:address location="http://localhost:1558/Physical/Contracts/ContractService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>