Client/Service References/WarehouseOutServiceReference/WarehouseOutService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1558/Physical/WarehouseOut/WarehouseOutService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBEntity" />
  <xs:import schemaLocation="http://localhost:1558/Physical/WarehouseOut/WarehouseOutService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1558/Physical/WarehouseOut/WarehouseOutService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Utility.Misc" />
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="GetByIdResult" nillable="true" type="q1:WarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="predicate" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q2:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="GetAllResult" nillable="true" type="q3:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWithOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Utility.Misc" minOccurs="0" name="sortCol" nillable="true" type="q4:SortCol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWithOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="GetAllWithOrderResult" nillable="true" type="q5:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="GetByRangeResult" nillable="true" type="q6:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRangeWithOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Utility.Misc" minOccurs="0" name="sortCol" nillable="true" type="q7:SortCol" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRangeWithOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="GetByRangeWithOrderResult" nillable="true" type="q8:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="eagerLoadProperties" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="FetchByIdResult" nillable="true" type="q10:WarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="eagerLoadProperties" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="FetchAllResult" nillable="true" type="q12:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllWithOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Utility.Misc" minOccurs="0" name="sortCol" nillable="true" type="q13:SortCol" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="eagerLoadProperties" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchAllWithOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="FetchAllWithOrderResult" nillable="true" type="q15:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="eagerLoadProperties" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="FetchByRangeResult" nillable="true" type="q17:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchByRangeWithOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Utility.Misc" minOccurs="0" name="sortCol" nillable="true" type="q18:SortCol" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="eagerLoadProperties" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchByRangeWithOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="FetchByRangeWithOrderResult" nillable="true" type="q20:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="predicate" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q21:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="QueryResult" nillable="true" type="q22:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryWithOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="predicate" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q23:ArrayOfanyType" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Utility.Misc" minOccurs="0" name="sortCol" nillable="true" type="q24:SortCol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryWithOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="QueryWithOrderResult" nillable="true" type="q25:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="predicate" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q26:ArrayOfanyType" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="QueryByRangeResult" nillable="true" type="q27:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByRangeWithOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="predicate" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q28:ArrayOfanyType" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Utility.Misc" minOccurs="0" name="sortCol" nillable="true" type="q29:SortCol" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByRangeWithOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="QueryByRangeWithOrderResult" nillable="true" type="q30:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="predicate" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q31:ArrayOfanyType" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="eagerLoadProperties" nillable="true" type="q32:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="SelectResult" nillable="true" type="q33:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWithOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="predicate" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q34:ArrayOfanyType" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Utility.Misc" minOccurs="0" name="sortCol" nillable="true" type="q35:SortCol" />
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="eagerLoadProperties" nillable="true" type="q36:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWithOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="SelectWithOrderResult" nillable="true" type="q37:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="predicate" nillable="true" type="xs:string" />
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q38:ArrayOfanyType" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:int" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="eagerLoadProperties" nillable="true" type="q39:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="SelectByRangeResult" nillable="true" type="q40:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByRangeWithOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="predicate" nillable="true" type="xs:string" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q41:ArrayOfanyType" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Utility.Misc" minOccurs="0" name="sortCol" nillable="true" type="q42:SortCol" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:int" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="eagerLoadProperties" nillable="true" type="q43:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByRangeWithOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="SelectByRangeWithOrderResult" nillable="true" type="q44:ArrayOfWarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="obj" nillable="true" type="q45:WarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="CreateResult" nillable="true" type="q46:WarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="obj" nillable="true" type="q47:WarehouseOut" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="CreateNewResult" nillable="true" type="q48:WarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="obj" nillable="true" type="q49:WarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="obj" nillable="true" type="q50:WarehouseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExisted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="obj" nillable="true" type="q51:WarehouseOut" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExistedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="obj" nillable="true" type="q52:WarehouseOut" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWarehosueOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="warehouseOut" nillable="true" type="q53:WarehouseOut" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="outLine" nillable="true" type="q54:WarehouseOutLine" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWarehosueOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewWarehouseOutLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="warehouseOut" nillable="true" type="q55:WarehouseOut" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="outLine" nillable="true" type="q56:WarehouseOutLine" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewWarehouseOutLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="header" nillable="true" type="q57:WarehouseOut" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="addedLines" nillable="true" type="q58:ArrayOfWarehouseOutLine" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="inLines" nillable="true" type="q59:ArrayOfWarehouseInLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="header" nillable="true" type="q60:WarehouseOut" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="addedLines" nillable="true" type="q61:ArrayOfWarehouseOutLine" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="updatedLines" nillable="true" type="q62:ArrayOfWarehouseOutLine" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="deletedLines" nillable="true" type="q63:ArrayOfWarehouseOutLine" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/DBEntity" minOccurs="0" name="inLines" nillable="true" type="q64:ArrayOfWarehouseInLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>