Client/Service References/LCAllocationServiceReference/LCAllocationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LCAllocationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1558/Finance/LetterOfCredits/LCAllocationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1558/Finance/LetterOfCredits/LCAllocationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1558/Finance/LetterOfCredits/LCAllocationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DBEntity" />
      <xsd:import schemaLocation="http://localhost:1558/Finance/LetterOfCredits/LCAllocationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1558/Finance/LetterOfCredits/LCAllocationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Utility.Misc" />
      <xsd:import schemaLocation="http://localhost:1558/Finance/LetterOfCredits/LCAllocationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILCAllocationService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetAllCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCount" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetAllCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCountResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_FetchCount_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchCount" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_FetchCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchCountResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCount" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetAllWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithOrder" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetAllWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRange" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_FetchById_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchById" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_FetchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_FetchAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAll" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_FetchAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_FetchAllWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllWithOrder" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_FetchAllWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchAllWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_FetchByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRange" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_FetchByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_FetchByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_FetchByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_QueryByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRange" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_QueryByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_QueryByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_QueryByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRange" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectByRangeWithOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithOrder" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectByRangeWithOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectByRangeWithMultiOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrder" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectByRangeWithMultiOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectByRangeWithMultiOrderLazyLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderLazyLoad" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectByRangeWithMultiOrderLazyLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByRangeWithMultiOrderLazyLoadResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Create_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q1:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_CreateNew_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNew" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_CreateNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_CreateNew_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q2:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteById" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_DeleteById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q3:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Delete_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q4:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Update_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q5:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_UpdateExisted_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExisted" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_UpdateExisted_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExistedResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_UpdateExisted_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q6:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_Remove_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q7:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_RemoveById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveById" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_RemoveById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_RemoveById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q8:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectSum_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectSum" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectSum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectSumResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectSum_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q9:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectById" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectById_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q10:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectWithMultiOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrder" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectWithMultiOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectWithMultiOrder_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q11:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectWithMultiOrderLazyLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderLazyLoad" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectWithMultiOrderLazyLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectWithMultiOrderLazyLoadResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_SelectWithMultiOrderLazyLoad_ServerErrFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Utility.ErrorManagement" name="detail" element="q12:ServerErr" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetQuantitySum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuantitySum" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetQuantitySum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuantitySumResponse" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetAmountSum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountSum" />
  </wsdl:message>
  <wsdl:message name="ILCAllocationService_GetAmountSum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountSumResponse" />
  </wsdl:message>
  <wsdl:portType name="ILCAllocationService">
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/GetById" message="tns:ILCAllocationService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/GetByIdResponse" message="tns:ILCAllocationService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/GetAllCount" message="tns:ILCAllocationService_GetAllCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/GetAllCountResponse" message="tns:ILCAllocationService_GetAllCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/FetchCount" message="tns:ILCAllocationService_FetchCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/FetchCountResponse" message="tns:ILCAllocationService_FetchCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/GetCount" message="tns:ILCAllocationService_GetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/GetCountResponse" message="tns:ILCAllocationService_GetCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/GetAll" message="tns:ILCAllocationService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/GetAllResponse" message="tns:ILCAllocationService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/GetAllWithOrder" message="tns:ILCAllocationService_GetAllWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/GetAllWithOrderResponse" message="tns:ILCAllocationService_GetAllWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/GetByRange" message="tns:ILCAllocationService_GetByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/GetByRangeResponse" message="tns:ILCAllocationService_GetByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/GetByRangeWithOrder" message="tns:ILCAllocationService_GetByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/GetByRangeWithOrderResponse" message="tns:ILCAllocationService_GetByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/FetchById" message="tns:ILCAllocationService_FetchById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/FetchByIdResponse" message="tns:ILCAllocationService_FetchById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/FetchAll" message="tns:ILCAllocationService_FetchAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/FetchAllResponse" message="tns:ILCAllocationService_FetchAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchAllWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/FetchAllWithOrder" message="tns:ILCAllocationService_FetchAllWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/FetchAllWithOrderResponse" message="tns:ILCAllocationService_FetchAllWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/FetchByRange" message="tns:ILCAllocationService_FetchByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/FetchByRangeResponse" message="tns:ILCAllocationService_FetchByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/FetchByRangeWithOrder" message="tns:ILCAllocationService_FetchByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/FetchByRangeWithOrderResponse" message="tns:ILCAllocationService_FetchByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/Query" message="tns:ILCAllocationService_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/QueryResponse" message="tns:ILCAllocationService_Query_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/QueryByRange" message="tns:ILCAllocationService_QueryByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/QueryByRangeResponse" message="tns:ILCAllocationService_QueryByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/QueryByRangeWithOrder" message="tns:ILCAllocationService_QueryByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/QueryByRangeWithOrderResponse" message="tns:ILCAllocationService_QueryByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/Select" message="tns:ILCAllocationService_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectResponse" message="tns:ILCAllocationService_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectByRange" message="tns:ILCAllocationService_SelectByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectByRangeResponse" message="tns:ILCAllocationService_SelectByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectByRangeWithOrder" message="tns:ILCAllocationService_SelectByRangeWithOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectByRangeWithOrderResponse" message="tns:ILCAllocationService_SelectByRangeWithOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectByRangeWithMultiOrder" message="tns:ILCAllocationService_SelectByRangeWithMultiOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectByRangeWithMultiOrderResponse" message="tns:ILCAllocationService_SelectByRangeWithMultiOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrderLazyLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectByRangeWithMultiOrderLazyLoad" message="tns:ILCAllocationService_SelectByRangeWithMultiOrderLazyLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectByRangeWithMultiOrderLazyLoadResponse" message="tns:ILCAllocationService_SelectByRangeWithMultiOrderLazyLoad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/Create" message="tns:ILCAllocationService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/CreateResponse" message="tns:ILCAllocationService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/CreateServerErrFault" name="ServerErrFault" message="tns:ILCAllocationService_Create_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/CreateNew" message="tns:ILCAllocationService_CreateNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/CreateNewResponse" message="tns:ILCAllocationService_CreateNew_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/CreateNewServerErrFault" name="ServerErrFault" message="tns:ILCAllocationService_CreateNew_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/DeleteById" message="tns:ILCAllocationService_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/DeleteByIdResponse" message="tns:ILCAllocationService_DeleteById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/DeleteByIdServerErrFault" name="ServerErrFault" message="tns:ILCAllocationService_DeleteById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/Delete" message="tns:ILCAllocationService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/DeleteResponse" message="tns:ILCAllocationService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/DeleteServerErrFault" name="ServerErrFault" message="tns:ILCAllocationService_Delete_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/Update" message="tns:ILCAllocationService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/UpdateResponse" message="tns:ILCAllocationService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/UpdateServerErrFault" name="ServerErrFault" message="tns:ILCAllocationService_Update_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExisted">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/UpdateExisted" message="tns:ILCAllocationService_UpdateExisted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/UpdateExistedResponse" message="tns:ILCAllocationService_UpdateExisted_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/UpdateExistedServerErrFault" name="ServerErrFault" message="tns:ILCAllocationService_UpdateExisted_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/Remove" message="tns:ILCAllocationService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/RemoveResponse" message="tns:ILCAllocationService_Remove_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/RemoveServerErrFault" name="ServerErrFault" message="tns:ILCAllocationService_Remove_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/RemoveById" message="tns:ILCAllocationService_RemoveById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/RemoveByIdResponse" message="tns:ILCAllocationService_RemoveById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/RemoveByIdServerErrFault" name="ServerErrFault" message="tns:ILCAllocationService_RemoveById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectSum">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectSum" message="tns:ILCAllocationService_SelectSum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectSumResponse" message="tns:ILCAllocationService_SelectSum_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectSumServerErrFault" name="ServerErrFault" message="tns:ILCAllocationService_SelectSum_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectById" message="tns:ILCAllocationService_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectByIdResponse" message="tns:ILCAllocationService_SelectById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectByIdServerErrFault" name="ServerErrFault" message="tns:ILCAllocationService_SelectById_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectWithMultiOrder" message="tns:ILCAllocationService_SelectWithMultiOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectWithMultiOrderResponse" message="tns:ILCAllocationService_SelectWithMultiOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectWithMultiOrderServerErrFault" name="ServerErrFault" message="tns:ILCAllocationService_SelectWithMultiOrder_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrderLazyLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectWithMultiOrderLazyLoad" message="tns:ILCAllocationService_SelectWithMultiOrderLazyLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectWithMultiOrderLazyLoadResponse" message="tns:ILCAllocationService_SelectWithMultiOrderLazyLoad_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServiceOf_LCAllocation/SelectWithMultiOrderLazyLoadServerErrFault" name="ServerErrFault" message="tns:ILCAllocationService_SelectWithMultiOrderLazyLoad_ServerErrFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuantitySum">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCAllocationService/GetQuantitySum" message="tns:ILCAllocationService_GetQuantitySum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCAllocationService/GetQuantitySumResponse" message="tns:ILCAllocationService_GetQuantitySum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAmountSum">
      <wsdl:input wsaw:Action="http://tempuri.org/ILCAllocationService/GetAmountSum" message="tns:ILCAllocationService_GetAmountSum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILCAllocationService/GetAmountSumResponse" message="tns:ILCAllocationService_GetAmountSum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILCAllocationService" type="tns:ILCAllocationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/GetAllCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/FetchCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/GetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/GetAllWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/GetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/GetByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/FetchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAll">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/FetchAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAllWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/FetchAllWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/FetchByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/FetchByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/QueryByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/QueryByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRange">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/SelectByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/SelectByRangeWithOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/SelectByRangeWithMultiOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByRangeWithMultiOrderLazyLoad">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/SelectByRangeWithMultiOrderLazyLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateNew">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/CreateNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/DeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateExisted">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/UpdateExisted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/RemoveById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectSum">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/SelectSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrder">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/SelectWithMultiOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectWithMultiOrderLazyLoad">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_LCAllocation/SelectWithMultiOrderLazyLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServerErrFault">
        <soap:fault use="literal" name="ServerErrFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQuantitySum">
      <soap:operation soapAction="http://tempuri.org/ILCAllocationService/GetQuantitySum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAmountSum">
      <soap:operation soapAction="http://tempuri.org/ILCAllocationService/GetAmountSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LCAllocationService">
    <wsdl:port name="BasicHttpBinding_ILCAllocationService" binding="tns:BasicHttpBinding_ILCAllocationService">
      <soap:address location="http://localhost:1558/Finance/LetterOfCredits/LCAllocationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>